@model Student.Models.StudentDataModel

@{
    ViewBag.Title = "HostelName";
}

<h2>HostelName</h2>

<div>
    <h4>StudentDataModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HostelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostelID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostelData.HostelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostelData.HostelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostelData.Block)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostelData.Block)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HostelData.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostelData.RoomNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
